body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Karla', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar, .input .submit {
    background: linear-gradient(to right, #672280 1.18%, #A626D3 100%);
}

.logo-img {
    width: 50px;
    margin-inline-end: 10px;
}

.logo-text {
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem;
    z-index: 0;
}

.input-area {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.input-text {
    width: 12.5rem;
    height: 34px;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    padding-inline: 1rem;
    font-size: large;
}

.input-text:focus {
    outline: none;
    border: 1px solid #939296;
}

#input-1 {
    margin-right: 5px;
}

.input .submit {
    width: 30.5rem;
    position: relative;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.meme {
    height: 100%;
    margin-top: -5rem;
    font-size: 0;
}

.meme-img {
    width: 400px;
    height: auto;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
    border: 3px solid #939296;
    z-index: 0;
}

.meme-text {
    margin: 0;
    width: 400px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: bold;
    color: white;
    font-family: fantasy;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
    word-wrap: break-word;
    text-transform: uppercase;
}

#top {
    top: 70px;
    margin-top: -3.8rem;
}

#bottom {
    top: -70px;
    margin-bottom: -3.8rem;
}